.RecipeHeader {
    font-size:larger;
    font-weight: 500;
    display: flex;
    padding-left: 0.5rem;
    align-items: flex-start;
    justify-content: space-between;
}


.RecipeHeader span{
    margin-left: 10px;
}
.RecipeSection{
    margin-top: 1rem;
}

.RecipeCard {
    border:1px solid #eee9e9;
    border-radius: 1.2rem;
    width: 100%;
    padding:1rem;
    overflow: hidden;
    position: relative;
}


.RecipeGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
}

.RecipeHeader > button{
    margin-right:12px;
    border:none;
    font-weight: lighter;
    background-color: #eee9e9;
    padding:6px;
    border-radius: 1.2rem;
    font-size: medium;
    cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark backdrop */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  overflow-y:auto;
  /* scrollbar-width: thin; */
  background:#eee9e9;
  padding: 1.2rem;
  border-radius: 12px;
  width: 470px;
  height: 90%;
  max-width: 90%;
}

@media (max-width : 700px)
{
    .AddButton{
        display: block;
        margin-right: 40px;
        border:none;
        background-color: #eee9e9;
        border-radius: 50%;
        flex-shrink: 0;
        padding:3px;
        cursor: pointer;
    }

    .RecipeHeader > :nth-child(2)
    {
        visibility: hidden;
    }
    .RecipeHeader > div:nth-child(1) {
        font-size: large;
    }
}
