.FilterOptions {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid oklab(0.68937 0.10976 0.112391 / 0.1);
    border-radius: 0.5rem;
    background-color: oklab(0.68937 0.10976 0.112391 / 0.1);
    font-size: large;
    cursor: pointer;
}
