.FilterCard {
border:1px solid #eee9e9;
  border-radius: 1.2rem;
  height: 17rem;
  width: 20.8rem;
  margin: 0.5rem;
  padding:1rem;
}

.FilterHeader span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    padding-left:0.2rem;
    font-size: larger;
}

.FilterCategory h4 {
    color:#2D1f14;
    font-weight: 500;
    font-size: large;
    line-height: 2rem;
    margin:0.5rem 0rem 0.5rem 0.2rem;
}
.clearFilters {
    width: 100%;
    background-color: #e8773d;
    outline: none;
    border:none;
    font-size: medium;
    color:white;
    margin-top: 18px;
    border-radius:0.6rem;
    padding:0.3rem;
    cursor: pointer;
}
